{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}
Design Screen
{% endblock %}

{% block body %}
<div class="container">
    <div hidden id="restaurant_id">{{rest_id}}</div>
    <div id="screen_design_tool"></div>
    <script src="{% static 'index-bundle.js' %}"></script>

    <!--Developer Note: Delete when deployed!-->
    <!-- <div class="bg-light p-3 mt-3" style="border-left: rgb(1, 93, 1) 3px solid;">
        <h6>Developer Note: Delete when deployed!</h6>
        <h6>Restaurant: <i>{{restaurant.name}}</i> (id = {{restaurant.id}})</h6>
        <h6>Category: <i>{{category.name}}</i> (id = {{category.id}})</h6>
    </div> -->

    <!--Developer Note: Delete when deployed!-->
    <!-- <div class="bg-light p-3 mt-3" style="border-left: rgb(208, 92, 15) 3px solid;">
        <h6>Developer Note: Delete when deployed!</h6>
        <p>When storing API keys in a .env file and accessing it using <code>process.env.API_KEY</code> in Datatable.js
            file, you are exposing the API key!</p>
        <p>Anything in .env will be publicly inspectable in dev tools.</p>
        <a href="https://create-react-app.dev/docs/adding-custom-environment-variables/">More Info</a>
    </div> -->

</div>
{% endblock %}