{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
{{category.name}} | {{restaurant.name}}
{% endblock %}

{% block body %}
<div class="container">
    <h6>Restaurant: <i>{{restaurant.name}}</i> (id = {{restaurant.id}})</h6>
    <h6>Category: <i>{{category.name}}</i> (id = {{category.id}})</h6>

    <!-- PLACEHOLDER: DELETE THIS WHEN YOU BRING IN THE REACT COMPONENT -->
    <div class="text-center p-4 m-4" style="background-color: antiquewhite; border: 3px gray solid;">
        <h1>React Table Goes <br> here with all of the <br> menu_items for that given category</h1>
    </div>
</div>
{% endblock %}