{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block title %}
{{category.name}} | {{restaurant.name}}
{% endblock %}

{% block body %}
<div class="container">
    <h6>Restaurant: <i>{{restaurant.name}}</i> (id = {{restaurant.id}})</h6>
    <h6>Category: <i>{{category.name}}</i> (id = {{category.id}})</h6>
    <div hidden id="category_id">{{category.id}}</div>

    <div id="data_table"></div>
    <script src="{% static 'index-bundle.js' %}"></script>
</div>
{% endblock %}