{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="container">
    <h3>Your Restaurants
        <a class="btn btn-primary" href="{% url 'restaurant_create' %}">New</a>
    </h3>
    <ol class="list-group list-group-numbered">
        {% for r in rest_owned %}
        <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="{% url 'restaurant_read_categories' r.id %}">{{r.name}}</a></div>
                <div class="text-muted">{{r.address1}}</div>
                <div class="text-muted">{{r.phone_number}}</div>
            </div>
            <a style="margin-right: 10px;" class="" href="{% url 'restaurant_update' r.id %}">Edit</a>
            <a class="" href="{% url 'restaurant_delete' r.id %}">Delete</a>
        </li>
        {% endfor %}

        {% if rest_owned is empty %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">No restaurants</div>
            </div>
        </li>
        {% endif %}
    </ol>
</div>
{% endblock %}