{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}
Categories | {{rest_owned.name}}
{% endblock %}

{% block body %}
<div class="container">
    <a class="link-secondary" href="{% url 'dashboard' %}">← Back to all
        Restaurants</a>
    <h3>Categories
        <a class="btn btn-primary btn-sm" href="{% url 'category_create' rest_owned.id %}">New</a>
    </h3>
    <h5 class="text-muted">{{rest_owned.name}}</h5>

    <ol class="list-group list-group-numbered">
        {% for c in categories %}
        <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"><a href="{% url 'category_read' rest_owned.id c.id %}">{{c.name}}</a>
                </div>
            </div>
            <a style="margin-right: 10px;" class="" href="{% url 'category_update' rest_owned.id c.id %}">Edit</a>
            <a class="link-danger" href="{% url 'category_delete' rest_owned.id c.id %}">Delete</a>

        </li>
        {% endfor %}

        {% if categories is empty %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">No Categories</div>
            </div>
        </li>
        {% endif %}
    </ol>
</div>
{% endblock %}