{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
{{ form.media }}
<!-- needed for JS/GoogleMaps lookup -->
{% endblock %}

{% block title %}
Edit Restaurant
{% endblock %}

{% block navbar %}
{% include 'navigation.html' %}
{% endblock %}

{% block body %}
<div class="container">
    <h2>Edit restaurant</h2>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-secondary">Update</button>
    </form>
</div>
{% endblock %}